<!DOCTYPE html>
<html>
<head>
  <title>ServerSerialPort</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "welcome" %>

  <%= csrf_meta_tags %>
</head>
<body text-align="center">

<img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/scales_of_Balance-64.png" > 
<h2><%= link_to("Balança v.0.1",root_path) %></h2>
<%= link_to "Index", image_index_path %> - <%= link_to "Main", root_path%>

<%= yield %>

</body>
</html>
