<% if @lending.security_value == -1 %>
  <div class="security_red_background">
<% else %>
  <div class="security_green_background">
<% end %>
  <h1>Empréstimo: <strong><%= @lending_or_not %></strong></h1>

  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @size_perc%>%">
      <span class="">Certeza do tamanho do livro: <%= @size_perc.round(2) %>% </span>
    </div>
  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= @weight_perc %>%">
      <span class="">Certeza no peso do livro: <%= @weight_perc.round(2) %>% </span>
    </div>
  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= @lending.rmse.round(2) * 100 %>%">
      <span class="">Certeza na similaridade: <%= @lending.rmse.round(2) * 100 %>% </span>
    </div>
  </div>
  
  <%= render 'form' %>

  <%= link_to 'Show', @lending %> |
  <%= link_to 'Back', lendings_path %>
</div>