<h1>Listing lendings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Book</th>
      <th>Lending</th>
      <th>Size widht</th>
      <th>Size height</th>
      <th>RMSE</th>
      <th>Size Error</th>
      <th>Weight Error</th>
      <th>Weight</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= image_tag lending.image.url(:thumb) %></td>
        <td><%= lending.book_id %></td>
        <% if lending.size_width.nil? || lending.size_height.nil? || lending.rmse.nil? || lending.size_error.nil? %>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        <% else %>
          <td><%= lending.lending %></td>
          <td><%= lending.size_width.round(2) %> cm</td>
          <td><%= lending.size_height.round(2) %> cm</td>
          <td><%= lending.rmse.round(2) %></td>
          <td><%= lending.size_error.round(2) %></td>
          <td><%= lending.weight_error.round(2) %></td>
        <% end %>
        <td><%= lending.weight %> g</td>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path %>
