<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @book.weight %> Kg
</p>

<p>
  <strong>Other Weight:</strong>
  <%= @book.weight %> Kg
</p>
<p>
  <strong>width:</strong>
  <%= @book.size_width %> cm
</p>
<p>
  <strong>Height:</strong>
  <%= @book.size_height %> cm
</p>

<p>
  <strong>Barcode:</strong>
  <%= @book.barcode %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
