<br>
MAX Dif: <%= @max_dif %> <br >
MIN Dif: <%= @min_dif %> <br >
TOT Dif: <%= @total_dif %> <br >


<div class="index_image_stype">

	<div class="image_and_name">
		<%= image_tag @img_filename, :class => "style_image" %> <br >
	</div>

	<div class="image_and_name">
		<%= image_tag @img2_filename, :class => "style_image" %> <br >
	</div>
</div>