<h1>List of images</h1>

<div class="index_image_stype">
<%= form_tag("/image/distance_diference", method: "get") do %>

	<% @images.each do |image| %>
		<div class="image_and_name">
	   		<%= image_tag "#{image.split('/').last}", :class => "style_image" %> <br >
	   		<span>File:</span> <%= link_to "#{image.split('/').last}",  image_load_path(:image => image.split('/').last) %> <br>
	   		
	   		<input type="checkbox" name="compare[]" value="<%= image.split('/').last %>"> Compare


	   	</div>
	<% end %>


<%= submit_tag("Search") %>
<% end %>
</div>
